<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-title">
    <a href="{{ site.baseurl }}/" class="navbar-title-link">GDSTEM</a>
  </div>

  <div class="hamburger-menu" id="hamburger-menu">
    &#9776;
  </div>

  <ul class="navbar-menu" id="navbar-menu">
    <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
    <li><a href="{{ site.baseurl }}/model.html" class="{% if page.url == '/model.html' %}active{% endif %}">Model</a></li>
    <li><a href="{{ site.baseurl }}/team.html" class="{% if page.url == '/team.html' %}active{% endif %}">Team</a></li>
    <li><a href="{{ site.baseurl }}/publications.html" class="{% if page.url == '/publications.html' %}active{% endif %}">Publications</a></li>
    <li><a href="{{ site.baseurl }}/news.html" class="{% if page.url == '/news.html' %}active{% endif %}">News</a></li>
    <li><a href="{{ site.baseurl }}/about.html" class="{% if page.url == '/about.html' %}active{% endif %}">About</a></li>
  </ul>
</nav>
